.git
.gitignore
.turbo
.output
node_modules
**/node_modules
target
**/target
apps/api/.data
apps/api/.data/**
apps/ios
apps/web/dist
**/.celld
**/.wrangler
**/.turbo
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
